@font-face {
    font-family: "Poppins-Bold";
    src: url("../../assets/fonts/Poppins-Bold.woff");
}
@font-face {
    font-family: "Poppins-Medium";
    src: url("../../assets/fonts/Poppins-Medium.woff");
}
